<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SobreRailes</title>
  <link rel="shortcut icon" href="../../public/media/favicon.ico" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/css/main.css">
    <link rel="stylesheet" href="../../public/css/galeria.css">
</head>

<body>

  <header class="cabecera gradient">
    <img src="../../public/media/favicon.ico" alt="logo" id="logo">
    <nav class="cabecera__nav">
      <ul class="cabecera__nav__ul">
        <li class="cabecera__nav__a colorYL"><a href="./check_billete.html" class="cabecera__nav__a--login lang"
            key="buscar">Buscar tickets</a>
        </li>
        <li class="cabecera__nav__a colorYL"><a href="./mapa_web.html" class="lang colorYL" key="mapa">Mapa Web</a></li>
        <li class="cabecera__nav__a colorYL"><a href="./galeria.html" class="lang" key="galeria">Galería</a></li>
                <li class="cabecera__nav__a colorYL"><a href="./nosotros.html" class="lang" key="nosotros">Sobre Nosotros</a></li>

        <li class="cabecera__nav__a colorYL cabecera__nav__TituloSubmenu"><img src="../../public/media/cuenta.png"
            class="cabecera__nav__TituloSubmenu__img" alt="cuenta"></a>
          <ul class="cabecera__nav__submenu">
            <li class="cabecera__nav__a colorYL"><a href="./mi_cuenta.html" class="lang" key="datos">Datos</a></li>
            <li class="cabecera__nav__a colorYL"><a href="./ubicacion.html" class="lang" key="ubicacion">Ubicación</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>

  <main class="main">
    <aside class="main__aside main__aside--left">
      <img class="main__aside__img colorYL" src="../../public/media/publi1.jpg" alt="bannerPublicidad1">
      <img class="main__aside__img colorYL" src="../../public/media/publi2.jpg" alt="bannerPublicidad3">
      <img class="main__aside__img colorYL" src="../../public/media/publi3.jfif" alt="bannerPublicidad3">
    </aside>


    <section class="main__section">
      <article class="main__section__article colorYL">
        <figcaption>
          <img src="../../public/media/tipos_trenes.png" alt="tipos_trenes" class="main__section__article__img">
        </figcaption>
      </article>
      <article class="main__section__article colorYL">
        <figcaption>
          <img src="../../public/media/tren_blanco.png" alt="tren_blanco" class="main__section__article__img">
        </figcaption>
      </article>
      <article class="main__section__article colorYL">
        <figcaption>
          <img src="../../public/media/tren_mar.png" alt="tren_mar" class="main__section__article__img">
        </figcaption>
      </article>
      <article class="main__section__article colorYL">
        <figcaption>
          <img src="../../public/media/tren_negro.png" alt="tren_negro" class="main__section__article__img">
        </figcaption>
      </article>
      <article class="main__section__article colorYL">
        <figcaption>
          <img src="../../public/media/tren_rojo.png" alt="tren_rojo" class="main__section__article__img">
        </figcaption>
      </article>
      <article class="main__section__article colorYL">
        <figcaption>
          <img src="../../public/media/vias.png" alt="vias" class="main__section__article__img">
        </figcaption>
      </article>
      <article class="main__section__article colorYL">
        <figcaption>
          <img src="../../public/media/tren_lanza.png" alt="tren_lanza" class="main__section__article__img">
        </figcaption>
      </article>
      <article class="main__section__article colorYL">
        <figcaption>
          <img src="../../public/media/tren_hospital.jfif" alt="tren_hospital" class="main__section__article__img">
        </figcaption>
      </article>
      <article class="main__section__article colorYL">
        <figcaption>
          <img src="../../public/media/tren_nieve.png" alt="tren_nieve" class="main__section__article__img">
        </figcaption>
      </article>
      <article class="main__section__article colorYL">
        <figcaption>
          <img src="../../public/media/tren_desierto.jpg" alt="tren_desierto" class=" main__section__article__img">
        </figcaption>
      </article>
      <article class="main__section__article colorYL">
        <figcaption>
          <img src="../../public/media/tren_bosque.jfif" alt="tren_bosque" class="main__section__article__img">
        </figcaption>
      </article>
    </section>
    <aside class="main__aside main__aside--right">
      <img class="main__aside__img colorYL" src="../../public/media/publi4.jfif" alt="bannerPublicidad2">
      <img class="main__aside__img colorYL" src="../../public/media/publi5.jfif" alt="bannerPublicidad4">
      <img class="main__aside__img colorYL" src="../../public/media/publi6.jfif" alt="bannerPublicidad6">
    </aside>
  </main>


  <footer class="footer colorFooter">
    <div class="footer__social">
      <a href="http://www.instagram.com" class="footer__social__a"><img class="footer__social__a__img"
          src="../../public/media/insta.png" alt="Instagram"></a>
      <a href="http://www.facebook.com" class="footer__social__a"><img class="footer__social__a__img"
          src="../../public/media/facebook.png" alt="Facebook"></a>
      <a href="http://www.twitter.com" class="footer__social__a"><img class="footer__social__a__img"
          src="../../public/media/twitter.png" alt="Twitter"></a>
    </div>
    <a href="#" class="footer__subir">
      <img class="footer__subir__img" src="../../public/media/Flecha.png" alt="Flecha Subir">
    </a>
    <div class="footer__paragraph">
      <p class="footer__paragraph--email">sobrerailes@gmail.com</p>
      <p class="footer__paragraph--telefo">+34 672 234 231</p>
    </div>
    <div class="footer__idioma">
      <img src="../../public/media/es.png" alt="es" class="translate footer__idioma__es" id="es">
      <img src="../../public/media/en.png" alt="es" class="translate footer__idioma__en" id="en">
    </div>
    <div class="footer__color">
      <div class="footer__color__normal paint" id="normal"></div>
      <div class="footer__color__alternativo paint" id="alternativo"></div>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../../public/js/script.js" charset="utf-8"></script>
</body>

</html>
